<h1>Bob Horsch - Veteran Chicago Photographer</h1>

<p>Photography was initially Bob's hobby during his down time while serving in the Vietnam War, but it gradually evolved into a successful career once he returned back to the only city he has ever loved.  Chicago.

30 years after opening his first gallery, he still continues to live out his life passion while running a small local business.  Photography has allowed him to capture the ever changing beauty of the Windy City and he continues to share his artwork with customers who enjoy viewing Chicago from a new perspective.

His efforts to showcase unique views of Chicago to the public has been complemented by his long list of existing customers as well as new visitors to his photography website here at HorschGallery.com.  As one customer puts it ...

"Bob Horsch's photos are a living archive of Chicago life and architecture."
Gayle, 39 (02/04/13)</p>

<%= image_tag 'bobhorsch.jpg'%>
